<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.fullstack7.mooc.mapper.TeacherMapper">
    <select id="teacherList">
        select *
        from teacher
        where teacherId is not null
        <if test="isApproved != null">
            and isApproved = #{isApproved}
        </if>
        <if test="teacherId != null">
            and isApproved = concat('%',#{teacherId},'%')
        </if>
        <if test="status != null">
            and status = #{status}
        </if>
        limit #{page_skip_count}, #{page_size}
    </select>
    <select id="selectAll">
        select * from teacher
    </select>
</mapper>