<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.fullstack7.nanusam.mapper.BbsMapper">
    <select id="getTime" resultType="string">
        SELECT now()
    </select>

    <select id="totalCount" resultType="int">
        SELECT COUNT(*) AS total_count
        FROM tbl_bbs
        where idx > 0
    </select>

    <select id="list" resultType="net.fullstack7.nanusam.domain.BbsVO">
        SELECT *
        FROM tbl_bbs
        ORDER BY idx DESC
        LIMIT #{page_skip_count}, #{page_size}
    </select>

    <select id="listByPage" resultType="net.fullstack7.nanusam.domain.BbsVO">
        SELECT idx, memberId, title, content, bbsCode, displayDate, regDate, modifyDate, readCnt
        FROM tbl_bbs
        where idx > 0
        ORDER BY idx DESC
        LIMIT #{page_skip_count}, #{page_size}
    </select>

    <select id="view" resultType="net.fullstack7.nanusam.domain.BbsVO">
        SELECT idx, memberId, title, content, bbsCode, displayDate, regDate, modifyDate, readCnt
        FROM tbl_bbs
        WHERE idx = #{idx}
    </select>

    <insert id="regist">
        INSERT INTO tbl_bbs (idx, memberId, title, content, bbsCode, displayDate)
        VALUES (#{idx}, #{memberId}, #{title}, #{content}, #{bbsCode}, #{displayDate});
    </insert>

    <update id="modify">
        UPDATE tbl_bbs SET title=#{title}, content=#{content}, displayDate=#{displayDate}
        WHERE idx=#{idx}
    </update>

    <delete id="delete">
        DELETE FROM tbl_bbs WHERE idx=#{idx}
    </delete>

    <update id="addReadCnt">
        UPDATE tbl_bbs
        SET readCnt = readCnt + 1
        WHERE idx=#{idx}
    </update>
</mapper>