<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.fullstack7.nanusam.mapper.ChatMapper">
    <insert id="groupRegist" parameterType="net.fullstack7.nanusam.domain.ChatGroupVO">
        INSERT INTO tbl_chat_group(seller,customer,goodsIdx)
        VALUES (#{seller},#{customer},#{goodsIdx})
    </insert>
    <insert id="messageRegist" useGeneratedKeys="true" keyProperty="idx" parameterType="net.fullstack7.nanusam.domain.ChatMessageVO">
        INSERT INTO tbl_chat_message(groupIdx, senderId, content,readChk)
        VALUES (#{groupIdx},#{senderId},#{content},#{readChk})
    </insert>
    <update id="updateRecentDate">
        UPDATE tbl_chat_group
        SET regDate=NOW()
        WHERE idx=#{idx}
    </update>
    <select id="groupList" resultType="net.fullstack7.nanusam.domain.ChatGroupVO">
        SELECT idx, seller, customer, goodsIdx, delChk, regDate
        FROM tbl_chat_group
        WHERE delChk='N' AND (seller=#{memberId} OR customer=#{memberId})
    </select>
    <select id="groupDTOList" resultType="net.fullstack7.nanusam.dto.ChatGroupDTO">
        SELECT tc.idx AS idx, tc.seller AS seller, tc.customer AS customer, tc.goodsIdx AS goodsIdx, tc.delChk AS delChk, tc.regDate AS regDate
             , tm.`name` AS sellerName, tm2.`name` AS customerName, tg.`name` AS goodsName, tg.mainImageName as mainImageName
        FROM tbl_chat_group AS tc
                 INNER JOIN tbl_member AS tm ON tc.seller = tm.memberId
                 INNER JOIN tbl_member AS tm2 ON tc.customer = tm2.memberId
                 INNER JOIN tbl_goods AS tg ON tc.goodsIdx = tg.idx
        WHERE tc.delChk='N' AND (tc.seller=#{memberId} OR tc.customer=#{memberId})
        ORDER BY regDate DESC
    </select>
    <select id="messageList" resultType="net.fullstack7.nanusam.domain.ChatMessageVO">
        SELECT idx, groupIdx, senderId, content, regDate, delChk, readChk
        FROM tbl_chat_message
        WHERE groupIdx = #{groupIdx}
    </select>
    <select id="getLastMessage" resultType="net.fullstack7.nanusam.domain.ChatMessageVO">
        SELECT idx, groupIdx, senderId, content, regDate, delChk, readChk
        FROM tbl_chat_message
        WHERE groupIdx=#{groupIdx}
        ORDER BY regDate DESC
        LIMIT 1
    </select>
    <select id="getGroupIdx" resultType="Integer">
        SELECT IFNULL(idx,-1)
        FROM tbl_chat_group
        WHERE goodsIdx = #{goodsIdx} AND customer = #{customer} AND delChk='N'
    </select>
    <select id="getGroup" resultType="net.fullstack7.nanusam.domain.ChatGroupVO">
        SELECT idx, seller, customer, goodsIdx, delChk, regDate
        FROM tbl_chat_group
        WHERE idx=#{groupIdx}
    </select>
    <select id="getGroupDTO" resultType="net.fullstack7.nanusam.dto.ChatGroupDTO">
        SELECT tc.idx AS idx, tc.seller AS seller, tc.customer AS customer, tc.goodsIdx AS goodsIdx, tc.delChk AS delChk, tc.regDate AS regDate, tm.`name` AS sellerName, tm2.`name` AS customerName, tg.`name` AS goodsName
        FROM tbl_chat_group AS tc
                 INNER JOIN tbl_member AS tm ON tc.seller = tm.memberId
                 INNER JOIN tbl_member AS tm2 ON tc.customer = tm2.memberId
                 INNER JOIN tbl_goods AS tg ON tc.goodsIdx = tg.idx
        WHERE tc.idx=#{groupIdx}
    </select>
    <update id="deleteGroup">
        UPDATE tbl_chat_group
        SET delChk='Y'
        WHERE idx=#{idx}
    </update>
    <update id="readMessages">
        UPDATE tbl_chat_message
        SET readChk='Y'
        WHERE groupIdx=#{groupIdx} AND senderId != #{memberId}
    </update>
    <select id="getMessage" resultType="net.fullstack7.nanusam.domain.ChatMessageVO">
        SELECT idx, groupIdx, senderId, content, regDate, delChk, readCHk
        FROM tbl_chat_message
        WHERE idx=#{idx}
    </select>
    <select id="countUnreadMessages" resultType="int">
        SELECT COUNT(*)
        FROM tbl_chat_message
        WHERE groupIdx = #{groupIdx} AND senderId != #{memberId} AND readChk = 'N'
    </select>
</mapper>