<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.fullstack7.nanusam.mapper.MainMapper">
  <select id="mainViewGoodsList" resultType="net.fullstack7.nanusam.domain.GoodsVO">
    SELECT
      idx,
      name,
      price,
      regDate,
      mainImageName
    FROM
      tbl_goods
    WHERE
      status = 'Y'
    ORDER BY
      regDate DESC
      LIMIT
      #{offset}, #{limit}
  </select>
</mapper>