/* Sidebar */
.sidebar {
    flex: 0 0 250px; /* 고정된 너비 */
    background-color: rgba(133, 129, 129, 0.06);
    color: #000000;
    padding: 20px 15px;
    box-sizing: border-box;
}

.sidebar h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: #000000;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.sidebar ul li a:hover {
    color: #1abc9c;
}

.sidebar ul li a i {
    margin-right: 10px;
}