<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <title>K-MOOC</title>
    <link th:href="@{/css/modal.css}" rel="stylesheet" />
</head>
<body>

<!-- 모달 -->
<div th:fragment="modal" class="modal" id="search-modal">
    <div class="modal-content">
        <button class="close-btn" id="close-modal">&times;</button>
        <h1>배우고 싶은 강좌를 찾아보세요.</h1>
        <div class="search-bar">
            <input type="text" placeholder="검색어를 입력하세요.">
            <button class="search-icon">
                <img th:src="@{/images/search.png}" alt="돋보기">
            </button>
        </div>
        <h2>추천 강좌</h2>
        <div class="recommended-courses">
            <div class="course-card">
                <p><strong>창의적 문제해결을 위한 생각 프로세스Ⅱ</strong></p>
                <p>2024.10.22 ~ 2024.12.09</p>
            </div>
            <div class="course-card">
                <p><strong>셰익스피어</strong></p>
                <p>2024.09.10 ~ 2024.12.16</p>
            </div>
            <div class="course-card">
                <p><strong>우리 문화 속의 한자어</strong></p>
                <p>2024.09.04 ~ 2024.12.17</p>
            </div>
            <div class="course-card">
                <p><strong>언어와 인간</strong></p>
                <p>2024.09.03 ~ 2024.12.03</p>
            </div>
            <div class="course-card">
                <p><strong>Identity, Agency, Equality and Security in the Age of AI</strong></p>
                <p>2024.09.02 ~ 2024.12.12</p>
            </div>
        </div>
    </div>
</div>

<!-- JavaScript -->
<script th:src="@{/js/script.js}"></script>

</body>
</html>