<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <title>K-MOOC</title>

</head>
<body>

<!-- Pagination -->

<div class="pagination" th:fragment="paging">
    <button class="page-btn" th:if="${pageDTO.prev}" th:data-num="${pageDTO.blockStart - 1}">&lt;</button>
    <th:block th:each="i:${#numbers.sequence(pageDTO.blockStart, pageDTO.blockEnd)}">
        <button th:class="${pageDTO.pageNo == i} ? 'page-btn active' :'page-btn'" th:data-num="${i}">[[${i}]]</button>
    </th:block>
    <button class="page-btn" th:if="${pageDTO.next}" th:data-num="${pageDTO.blockEnd + 1}">&gt;</button>
</div>

<script th:inline="javascript">
    let pageBtn = document.querySelectorAll(".page-btn");

    for(let i of pageBtn){
        i.addEventListener("click",(e)=>{
            e.preventDefault();
            e.stopPropagation();
            const num = e.target.getAttribute("data-num");
            const formObj = document.querySelector("form");
            formObj.innerHTML += `<input type='hidden' name='pageNo' value='${num}'>`;
            formObj.submit();
        });
    }
</script>

</body>
</html>